@media only screen and (min-width: 60em) {
    /* Header */
    header img {
        max-width: 180px ;
    }

    /* Footer */
    footer .center-footer img {
        max-width: 180px ;
    }

    .social-footer img {
        width: 3% ;
    }

    .down-footer {
        display: grid ;
        grid-template-columns: repeat( 6, 1fr ) ;
    }

    #class-name {
        border-right: 2px solid #000 ;
    }

    #update {
        grid-row: 2 / 3 ;
        grid-column: 5 / 6 ;
    }    

    /* Main */
    main {
        width: 98% ;
        margin: .7em auto ;
    }

    main > * {
        border: 1px solid #897000 ;
        border-radius: 10px ;
        margin: .4em ;
        box-shadow: 5px 5px 5px rgba(137, 112, 0, 0.404) ;
    }

    /* Temples Page */

    .temples {
        border: none ;
        box-shadow: none ;
    }

    .temples section {
        box-shadow: 5px 5px 5px rgba(137, 112, 0, 0.404) ;
    }

    /* Reservation Page */

    .reservation-content form {
        display: grid ;
        grid-template-columns: repeat( 3, 1fr ) ;
        align-items: center ;
        margin: auto 0 ;
    }

    .reservation-content form h1 {
        grid-column: 1 / 4 ;
    }

    .reservation-content form div {
        grid-column: 2 / 3 ;
    }

    .reservation-content form fieldset {
        min-height: 340px ;
    }

    form .submit-button {
        width: 100% ;
    }

    /* Reception Page & Missionary Page */

    .reception-content, .missionary-content {
        width: 100% ;
    }

    .reception-photos, .missionary-photos {
        border: none ;
        box-shadow: none ;
    }

    .missionary-photos {
        justify-content: center ;
        align-items: center ;
    }

}