@media only screen and (min-width: 37.5em) {
    /* Header */

    header {
        flex-direction: column ;
        justify-content: space-around ;
    }

    header p {
        display: none ;
    }

    header img {
        max-width: 160px ;
    }

    .weather-alert button {
        right: 2em ;
    }

    nav ul {
        display: flex ;
        flex-direction: row ;
        list-style: none ;
        border: 1px solid #897000 ;
        padding: 0 ;
        font-size: 1.2em ;
    }

    nav button {
        display: none ;
    }

    /* Footer */
    
    footer .center-footer img {
        width: 25% ;
    }

    .center-footer {
        display: flex ;
        flex-direction: row ;
        justify-content: space-around ;
        align-items: center ;
    }

    .social-footer img {
        max-width: 160px ;
    }

    .down-footer {
        display: grid ;
        grid-template-columns: repeat( 5, .7fr ) ;
    }
    
    hr {
        grid-column: 1 / -1 ;
        background-color: #000 ;
    }
    
    #update {
        grid-column: 1/6 ;
        grid-row: 3/4 ;
    }

    #name {
        grid-column: 2/3 ;
    }
    
    #name, #class-name, #attribution {
        border-right: 2px solid #000 ;
    }

    /* Main */

    main {
        display: grid ;
        grid-template-columns: repeat( 2, 1fr ) ;
    }

    .welcome {
        grid-column: 1 / 3 ;
    }

    .weather-alert {
        grid-column: 1 / 3 ;
    }

    .temple-ads {
        grid-column: 1 / 3 ;
    }

    .temple-ads #left, .temple-ads #right {
        bottom: 0% ;
    }

    .weather {
        grid-column: 1 / 3 ;
    }

    .forecast {
        grid-column: 1 / 3 ;
    }

    .logos {
        justify-content: center ;
    }

    .social img {
        max-width: 100px ;
    }

    .reservation {
        padding: 1.5em ;
    }

    /* Temple Page */

    .temple-content section {
        min-height: 870px ;
    }

    .temples section img {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.438) ;
    }

    /* Reception Page & Missionary Page */

    .reception-photos, .missionary-photos {
        margin: 0 ;
        padding: 0 ;
    }

    .reception-info, .missionary-info {
        display: grid ;
        grid-template-columns: repeat( 2, 1fr ) ;
    }

    .reception-info h1, .reception-info p, .missionary-info h1, .missionary-info p {
        grid-column: 1 / 3 ;
    }

}