/* Body */

body {
	font-family: "Anek Malayalam", sans-serif ;
	font-size: 16px ;
	border-radius: 1em ;
	margin: 0 ;
	padding: 0 ;
    min-height: 100vh ;
    display: flex ;
    flex-direction: column ;
}

header {
	margin: 0 ;
    display: flex ;
    justify-content: center ;
}

footer {
	padding: 1em ;
    margin-top: auto ;
}

header, footer {
    background-color: rgb( 42, 116, 165 ) ;
    text-align: center ;
    color: white ;
}

main {
    margin-top: auto ;
    text-align: center ;
    font-size: 1.5em ;
    text-shadow: 0 0 25px rgb(12, 29, 184) ;
}