/* Body */

body {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px ;
}

h1, h2, h3, h4 {
	font-family: "Open Sans", Arial, sans-serif ;
}

/* Header */

header {
	display: flex ;
	flex-direction: column ;
	color: #000 ;
	background-color: #5f8ce6 ;
	justify-content: center ;
}

.header-container {
	font-size: .7em ;
	margin-right: 1.3em ;
	justify-content: space-between ;
	display: flex ;
	align-items: center ;
	text-align: center ;
}

header img {
	width: 60px ;
	margin: auto ;
}

.current-date, .top-banner, .last-visit {
	text-align: center ;
	font-size: .9em ;
	background-color: #E41A4F ;
	padding: .4em ;
	margin: .8em ;
}

.top-banner {
	display: none ;
}

.logo {
	display: flex ;
	padding: 1em ;
	align-items: center ;
	text-align: center ;
}

.social svg {
	width: 25px;
	height: auto;
}

nav {
	order: 3 ;
}

nav button {
	background-color: #80A4ED ;
	font-size: .8rem ;
	color: #000 ;
	border: 1px solid #000 ;
}

nav ul li a:hover {
	background-color: #E41A4F ;
}

nav ul li a {
	display: block ;
    padding: .5em ;
    text-decoration: none ;
    color: #000 ;
}

nav ul {
    display: none ;
}

nav ul.open {
	list-style-type: none ;
    display: block ;
	font-size: 1.4em ;
	margin: .1em ;
}

#hamburgerBtn span:nth-child( 1 ) {
    display: block ;
}

#hamburgerBtn span:nth-child( 2 ) {
    display: none ;
}

#hamburgerBtn.open span:nth-child( 1 ) {
    display: none ;
}

#hamburgerBtn.open span:nth-child( 2 ) {
    display: block ;
}

/* Main */

main div, article {
	font-size: .9rem ;
    color: #680c24 ;
    background-color: #c4c2c2 ;
	border: 1px solid #a5a5a5 ;
	text-align: center ;
	margin: .8em ;
	padding: 1em ;
	box-shadow: 5px 5px 10px grey ;
}

main h3 {
	text-shadow: 2px 2px 10px #FF5A5F ;
}

.hero {
	display: flex ;
	padding: 0 ;
}

.hero picture {
	display: flex ;
}

.hero h2 {
	color: #FFF ;
	position: absolute ;
	left: 2em ;
}

.hero img {
	width: 100% ;
	object-fit: cover ;
}

.event a {
	text-decoration: none ;
	color: #00447D ;
}

.join {
	display: none ;
}

.spotlight {
	display: flex ;
	flex-direction: column ;
	padding: 1em ;
}

#spot3 {
	display: none ;
}

.spot {
	background-color: #c4c2c2 ;
	border: 1px solid #a5a5a5 ;
	padding: 1em ;
}

.discover-content {
	display: flex ;
}

.discover-content div {
	text-align: center ;
  	margin: 0 auto ;
}

.discover-content img[data-src] {
	filter: blur( 0.2em ) ;
}

.discover-content img[src] {
	filter: blur( 0em ) ;
	transition: filter 2s ;
	width: 100% ;
}

/* Footer */

footer {
	display: flex ;
	flex-direction: column ;
	color: #000 ;
	background-color: #5f8ce6 ;
	text-align: center ;
	font-size: .6em ;
}

footer img {
	width: 85px ;
	margin-top: .5em ;
}

footer h2 {
	margin: .2em ;
	font-size: 1.6em ;
}

footer a {
	color: #000 ;
	text-decoration: none ;
}

.information {
	font-size: 1.5em ;
	padding: .5em ;
}

footer hr {
	border: none ;
	height: 2px ;
	background: #000 ;
	width: 100% ;
}

.down-footer {
	font-size: 1.4em ;
	display: block ;
	margin: .3em ;
}

.down-footer p {
	margin: .2em ;
}