/* Body */

body {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px ;
}

h1, h2, h3, h4 {
	font-family: "Open Sans", Arial, sans-serif ;
}

/* Header */

header {
	display: flex ;
	flex-direction: column ;
	color: #000 ;
	background-color: #5f8ce6 ;
	justify-content: center ;
}

.header-container {
	font-size: .7em ;
	margin-right: 1.3em ;
	justify-content: space-between ;
	display: flex ;
	align-items: center ;
	text-align: center ;
}

header img {
	width: 60px ;
	margin: auto ;
}

.current-date, .top-banner, .last-visit {
	text-align: center ;
	font-size: .9em ;
	background-color: #E41A4F ;
	padding: .4em ;
	margin: .8em ;
}

.top-banner {
	display: none ;
}

.logo {
	display: flex ;
	padding: 1em ;
	align-items: center ;
	text-align: center ;
}

.social svg {
	width: 25px;
	height: auto;
}

nav {
	order: 3 ;
}

nav button {
	background-color: #80A4ED ;
	font-size: .8rem ;
	color: #000 ;
	border: 1px solid #000 ;
}

nav ul li a:hover {
	background-color: #E41A4F ;
}

nav ul li a {
	display: block ;
    padding: .5em ;
    text-decoration: none ;
    color: #000 ;
}

nav ul {
    display: none ;
}

nav ul.open {
	list-style-type: none ;
    display: block ;
	font-size: 1.4em ;
	margin: .1em ;
}

#hamburgerBtn span:nth-child( 1 ) {
    display: block ;
}

#hamburgerBtn span:nth-child( 2 ) {
    display: none ;
}

#hamburgerBtn.open span:nth-child( 1 ) {
    display: none ;
}

#hamburgerBtn.open span:nth-child( 2 ) {
    display: block ;
}

/* Main */

main div, article {
	font-size: .9rem ;
    color: #680c24 ;
    background-color: #c4c2c2 ;
	border: 1px solid #a5a5a5 ;
	text-align: center ;
	margin: .8em ;
	padding: .5em ;
	box-shadow: 5px 5px 10px grey ;
}

main h3 {
	text-shadow: 2px 2px 10px #FF5A5F ;
}

.hero {
	display: flex ;
	padding: 0 ;
}

.hero picture {
	display: flex ;
}

.hero h2 {
	color: #FFF ;
	position: absolute ;
	left: 2em ;
}

.hero img {
	width: 100% ;
	object-fit: cover ;
}

.event a {
	text-decoration: none ;
	color: #00447D ;
}

.join {
	display: none ;
}

.join #link {
	background-color: #680c24 ;
	border-radius: .8em ;
	cursor: pointer ;
}

.join #link a {
	display: block ;
	font-weight: 1000 ;
	color: #FFF ;
	width: 100% ;
	padding: .6em ;
}

.join #link a:link {
	text-decoration: none ;
}

.spotlight {
	display: flex ;
	flex-direction: column ;
	padding: 1em ;
}

#spot3 {
	display: none ;
}

.spot {
	background-color: #c4c2c2 ;
	border: 1px solid #a5a5a5 ;
	padding: 1em ;
}

.spot img {
	max-height: 50px ;
	max-width: 100% ;
}

.weather h2 {
	text-align: center ;
	font-size: 1em ;
}

.weather figure {
	display: flex ;
	justify-content: center ;
	margin-bottom: 0 ;
}

.weather figure img {
	width: 25% ;
}

.weather figure p {
	margin-left: .5em ;
	margin-top: 1.4em ;
	font-size: 1.5em ;
}

/* Discover Page */

.discover-content {
	display: flex ;
}

.discover-content div {
	text-align: center ;
  	margin: 0 auto ;
}

.discover-content img[data-src] {
	filter: blur( 0.2em ) ;
}

.discover-content img {
	filter: blur( 0em ) ;
	transition: filter 2s ;
	width: 100% ;
}

/* Join Page */

.join-content {
	display: block ;
	padding: 1em ;
}

.join-content div {
	padding: .3em ;
}

.join-content div h2 {
	text-align: center ;
}

.join-content h3 {
	text-align: center ;
}

.join-content .memberships-info {
	display: none ;
	border-radius: 10px ;
}

form h3 {
	margin: .5em ;
}

form {
	background-color: #c4c2c2 ;
	padding: .5em ;
	border-radius: 10px ;
	box-shadow: 5px 5px 10px grey ;
	margin: .4em ;
}

form fieldset {
	border: 1px solid #680c24 ;
	border-radius: 10px ;
    padding: .5em ;
}

form legend {
	color: #680c24 ;
    padding: .2em ;
}

form label.info, form div {
	display: block ;
	color: #680c24 ;
	font-size: .8em ;
	margin-top: .6em ;
}

form label.info input, form label textarea {
    display: block ;
    font-size: 1.3em ;
    border: solid 1px #999 ;
    border-radius: 4px ;
    padding: .75em ;
    color: #555 ;
    width: 100% ;
	max-width: 20em ;
}

form label.radio {
    display: block ;
    padding: .5em 0 ;
    color: #680c24 ;
}

form div {
	border: none ;
	margin: 0 ;
	box-shadow: none ;
	text-align: left ;
	padding: 0 ;
}

form input.submitBtn {
    border: none ;
    background-color: #680c24 ;
    color: white ;
    border-radius: 1em ;
    padding: .55em 1.5em ;
    margin: .5em ;
    width: 96% ;
}

/* Thankyou Page */

.thankyou-content {
	display: block ;
}

.thankyou-content h2 {
	text-align: center ;
}

/* Directory Page */

.directory-content {
	display: block ;
}

.directory-content img {
	height: 90px;
	max-width: 100% ;
}

.directory-content div {
	background-color: #FFF ;
	box-shadow: none ;
	border: none ;
}

.directory-content section {
	color: #00447D ; 
	font-size: .9em ;
	background-color: #FFF ;
	box-shadow: 5px 5px 10px grey ;
	margin: .9em ;
	padding: 1em ;
}

.directory-content section a {
	font-size: .9em ;
}

.directory-grid {
	display: grid ;
    grid-template-columns: repeat( auto-fit, minmax( 320px, 1fr ) ) ;
    align-items: center ;
}

.directory-grid section h3 {
	display: none ;
}

.directory-list section h3 {
	text-shadow: none ;
}

.directory-list img {
	display: none ;
}

.directory-list section {
	text-align: left ;	
	box-shadow: none ;
}

.directory-list section:nth-child( odd ) {
	background-color: #c4c2c2 ;
}

.directory-content button img {
	height: 20px ;
	margin-top: 4px ;
	cursor: pointer ;
}

.directory-content button {
	text-align: center ;
	background-color: #FFF ;
	border: 2px solid #00447D ;
}

/* Contact Page */

.contact-content {
	display: flex ;
	justify-content: center ;
}

.contact-content div {
	display: flex ;
	border-radius: 10px ;
	padding: 2em ;
}

.contact-content div section, .contact-content div picture {
	text-align: center ;
	justify-content: center ;
	margin: auto ;
}

/* Footer */

footer {
	display: flex ;
	flex-direction: column ;
	color: #000 ;
	background-color: #5f8ce6 ;
	text-align: center ;
	font-size: .6em ;
}

footer img {
	width: 85px ;
	margin-top: .5em ;
}

footer h2 {
	margin: .2em ;
	font-size: 1.6em ;
}

footer a {
	color: #000 ;
	text-decoration: none ;
}

.information {
	font-size: 1.5em ;
	padding: .5em ;
}

footer hr {
	border: none ;
	height: 2px ;
	background: #000 ;
	width: 100% ;
}

.down-footer {
	font-size: 1.4em ;
	display: block ;
	margin: .3em ;
}

.down-footer p {
	margin: .2em ;
}